apis:
  google_api_key: "your_google_api_key_here"
  onlinehashcrack_api_key: "your_onlinehashcrack_api_key_here"
  wpasec_api_key: "your_wpasec_api_key_here"
  wigle_api_name: "your_wigle_username_here"
  wigle_api_token: "your_wigle_token_here"
